<div>
  <input #username type="text" placeholder="username">
  <button class="btn btn-sm btn-primary" (click)="getUserDetails(username.value)">Let's Go</button>
  <div class="row">
    <div class="col-md-6 border section" *ngIf="userURL">

      <app-user-details [url] = 'userURL'></app-user-details>

    </div>

    <div class="col-md-6 border section" *ngIf="repoList && repoList.length">
      <h5 class="text-center">Repositories: {{repoList.length}}</h5>
      <div id="repos">
        <button *ngFor="let repo of repoList" class="btn btn-primary btn-sm" (click)="getRepoDetails(repo.url)">{{repo.name}}</button>
      </div>
    </div>

  </div>

  <div class="border section" *ngIf="repoDetails.owner" id="repo-details">
    <div class="card text-center">
      <div class="card-header">
        {{repoDetails.owner.login}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{repoDetails.name}}</h5>
        <p class="card-text">{{repoDetails.description}}</p>
        <p>Subscribers: {{repoDetails.subscribers_count}}</p>
        <p>Watchers: {{repoDetails.watchers_count}}</p>
        <a href="#" class="btn btn-primary">Commits</a>
      </div>
      <div class="card-footer text-muted">
        github link:<a [href]="repoDetails.svn_url">{{repoDetails.name}}</a>
      </div>
    </div>
  </div>

  <div *ngIf="commitList && commitList.length" class="section">
    <p>Commits: {{commitList.length}}</p>
    <div id="commits">
      <hr>
      <button *ngFor="let commit of commitList" class="btn btn-primary btn-sm">{{commit.sha| slice : 0 : 5 }}</button>
    </div>
  </div>
</div>
