* {
    box-sizing: border-box;
}

.data {
    color: blue;
    font-family: menlo;
    font-weight: 500;
}

.btn {
    margin: 5px;
}

#repos  {
    background-color: azure;
    height: 230px;
    overflow: scroll;
}

#commits  {
    background-color: azure;
    height: 250px;
    overflow: scroll;
}

.section {
    margin-top: 5px;
    box-shadow: 0 2px 6px rgba(47,51,55,0.1);
}